<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomogachi</title>
    <link href="/css/stat-styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap" rel="stylesheet">  
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="stat-form.html">Stat-Submission</a>
        <a href=""> Store</a>
    </nav>
    <br/>
    <header>Stats</header>
    <h1>Enter your information below!</h1>

    <form action="/setweight" method="POST" class="form">
        <label>
            <input type="number" name="weight" class="weight" placeholder="Enter your weight" />
       </label>
       <!-- <div class="form-2 hidden">
            <input type="text" name="exercise" class="exercise-time" placeholder="How much time you spent on exercises" />
        </div>
        <div class="form-3 hidden">
            <select id="exercise-select">
                <option value="">--Select the Exercise--</option>
                <option value="running">Running</option>
                <option value="hiking">Hiking</option>
                <option value="swimming">Swimming</option>
            </select>
        </div>-->
        <div class="submit">
            <input type="submit" value="CLick Me!" class="submit-button"/>
        </div>
    </form>
    <script src="index.js"></script>
</body>
</html>
