<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomogachi</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/stat-form">Stats/a>
    <a href="/unc-store">Store</a>
</nav>
<br/>
<header>Welcome name</header>
</body>
</html>