<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomogachi</title>
    <link href="/css/stat-styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap" rel="stylesheet">  
</head>
<body>
    <nav>
        <a href="/index">Home</a>
        <a href="/stat-form">Stat-Submission</a>
        <a href="/unc-store">Store</a>
    </nav>
    <br/>
    <header>Stat Submission</header>
    <h1>Enter your information below!</h1>

    <form action="/setweight" method="POST" class="form">
        <label>
            <input type="number" name="weight" class="weight" placeholder="Enter your weight" />
       </label>
       <label>
            <input type="number" name="minutes" class="minutes" placeholder="Number of exercises" />
        </label>
        <label>
            <input type="number" name="calories" class="calories" placeholder="Calories eaten" />
        </label>
        <div class="submit">
            <input type="submit" value="CLick Me!" class="submit-button"/>
        </div>
    </form>
    <script src="index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const weightInput = document.querySelector('.weight');
            
            // Add event listener for keypress
            weightInput.addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent default form submission
                    // Redirect to the desired page
                    window.location.href = 'num-form'; // Change this to your desired URL
                }
            });
        });

    </script>
</body>
</html>
        